
#volume-visualizer {
    --volume: 0%;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #DDD;
}

html{
    background-color: pink;
   
}

body, html {
    overflow: hidden;
    /* height: 110vh; */
    height: 100%;
    max-height: 100vh;
    font-family: 'Potta One', cursive;
    /* width: 110vw; */
    width: 100vw;
    /* background-image: url(/imgs/theRoom.svg); */
    background-color:black;
    background-repeat: no-repeat;
    margin: 0;
    /* padding: 5vh 5vw; */
    /* left: -5vw;
    top: -5vh; */
    position: absolute;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
    body {
      font-size: 0.7em;
    }
  }

  @media screen and (max-width: 1100px) {
    body {
      font-size: 0.7em;
    }
    #daddyTitle {
        font-size: 1.5em;
    }
  }

video {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 280%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#sleepVid{
    visibility: unset;
}



.subtext{
    margin: 0;
    margin-bottom: 1em;
    font-size: 0.75em;
}

#volume-visualizer::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--volume);
    background-color: green;
    transition: width 100ms linear;
}

.volume-full {
    --volume: 100% !important;
}

h3 {
    margin: 20px;
    font-family: sans-serif;
}

#output {
    min-height: 100%;
    width: 100vw;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bubble {
    animation-duration: 4s;
    animation-name: slidein;
    transform: rotateY(50deg) translate(-50%, -50%);
    transition-timing-function:cubic-bezier(0.2,0.5,0.3,1);
    animation-fill-mode: forwards;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
}

#modal{
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 200px;
    max-height: 80%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    background-color: black;
    opacity: 1;
    -moz-transition: opacity 0.4s ease-out;  /* FF4+ */
    -o-transition: opacity 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: opacity 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: opacity 0.4s ease-out;  /* IE10? */
    transition: opacity 0.4s ease-out;  
    border: 0.5em solid white;
    z-index: 5;
    color: white;
    overflow: scroll;
}

.bigShake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.lilShake{
    animation: lilshake 1.5s;
    animation-iteration-count: infinite;
}

.button{
    position:relative;
    display:inline-block;
    margin:20px;
}

#modal img{
    max-width: 20em;
    border-radius: 50%;
    width: 100%;
}

.button a{
    font-family: 'Potta One', cursive;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color: #3E0F2A;
    display:block;
    position:relative;
    padding:20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #7b4c67, 0 10px 0 #1b0612;
    -moz-box-shadow:inset 0 1px 0 #7b4c67, 0 10px 0 #1b0612;
    box-shadow:inset 0 1px 0 #7b4c67, 0 10px 0 #1b0612;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}

.button a:active{
    top:10px;
    background-color:#3E0F2A;

    -webkit-box-shadow:inset 0 1px 0 #7b4c67, inset 0 -3px 0 #1b0612;
    -moz-box-shadow:inset 0 1px 0 #7b4c67, inset 0 -3pxpx 0 #1b0612;
    box-shadow:inset 0 1px 0 #7b4c67, inset 0 -3px 0 #1b0612;
}

.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@keyframes lilshake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(0px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes slidein {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(10);
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    100% {
        transform: rotateY(120deg) rotateX(360deg) rotateZ(-100deg) scale(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

  }


#start{

}

#modal h4 a{
    color: white;
    font-weight: bold;
}

#PlayAgain{
    display: none;
}